@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 190 100% 95%;
  --foreground: 190 5% 10%;
  --card: 190 50% 90%;
  --card-foreground: 190 5% 15%;
  --popover: 190 100% 95%;
  --popover-foreground: 190 100% 10%;
  --primary: 190 55% 54%;
  --primary-foreground: 0 0% 100%;
  --secondary: 190 30% 77%;
  --secondary-foreground: 0 0% 0%;
  --muted: 152 30% 85%;
  --muted-foreground: 190 5% 40%;
  --accent: 152 30% 80%;
  --accent-foreground: 190 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 190 5% 90%;
  --border: 190 30% 77%;
  --input: 190 30% 50%;
  --ring: 190 55% 54%;
  --radius: 0.5rem;
}
.dark {
  --background: 190 50% 10%;
  --foreground: 190 5% 90%;
  --card: 190 50% 10%;
  --card-foreground: 190 5% 90%;
  --popover: 190 50% 5%;
  --popover-foreground: 190 5% 90%;
  --primary: 190 55% 54%;
  --primary-foreground: 0 0% 100%;
  --secondary: 190 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 152 30% 25%;
  --muted-foreground: 190 5% 65%;
  --accent: 152 30% 25%;
  --accent-foreground: 190 5% 90%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 190 5% 90%;
  --border: 190 30% 50%;
  --input: 190 30% 50%;
  --ring: 190 55% 54%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
